<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/index.css" >
    <link rel="stylesheet" href="css/iceCream.css" >
    <script type="text/javascript" src="js/iceCreamFlavours.js">

    </script>
    <title>jQuery Playground</title>
  </head>
  <body>
    <main class="mv4">
      <header class="flex-column">
        <h1 id="title">jQuery Playground</h1>
        <p id="title-description">This is a place to poke around with jQuery!</p>
      </header>
    </main>

    <article class="mh5 mv4">
      <section>
        <h2>Look at all the different flavours of ice cream!</h2>
      </section>

      <section id="counter">
        <div class="ice-cream">
          <div id="vanilla" class="scoop"></div>
          <div class="cone"></div>
          <div class="flavour">Vanilla</div>
        </div>
      </section>
    </article>
  </body>
</html>
